[submodule "browser-solidity"]
	path = browser-solidity
	url = git@github.com:ethereum/browser-solidity.git
[submodule "etherwallet"]
	path = etherwallet
	url = git@github.com:kvhnuke/etherwallet.git
[submodule "ico-contracts"]
	path = ico-contracts
	url = git@github.com:chaintsyng/ico-contracts.git
